

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">VouchCouch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body text-center">
        Thanks for listing your voucher!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">View</button>
      </div>
    </div>
  </div>
</div>  -->

<div class="dashboard-tabs">
  <a class="dashboardtab active" id="listings-tab" href="#listings-list">
    <h3><%= @number_listings %></h3>
    <p>Listings</p>
  </a>
  <a class="dashboardtab" id="bookings-tab" href="#purchases-list">
    <h3><%= @number_purchases %></h3>
    <p>Purchased</p>
  </a>
  <a class="dashboardtab" id="watching-tab" href="#watching-list">
    <h3>19</h3>
    <p>Watching</p>
  </a>
  <a class="dashboardtab" id="following-tab" href="#following-list">
    <h3>89</h3>
    <p>Following</p>
  </a>
</div>



<div class="main-container", id="purchases-list">
  <div class="bookings-container">
    <h2 class='text-center', class='tab-link-style'>Purchases</h2>

    <% current_user.bookings.each do |booking| %>
      <% if booking.display_flag %>
        <div class="message">
          <div class="message-name">
            <p> <%= booking.created_at.to_date.strftime('%D') %> </p>
            <p class='message-voucher-name'><strong> <%= booking.voucher.name %></strong></p>
            <p class="price"> £<%= booking.voucher.price %> </p>
          </div>
          <div class="message-body">
            <p> <%= booking.voucher.description %></p>
          </div>
          <div class="message-status">
            <%= link_to voucher_file_path(photo: booking.voucher.photo )  do %>
              <p class="voucher-photo"> <i class="far fa-file"></i> </p>
            <% end %>
            <p class="price"><strong> x<%= booking.quantity %> </strong></p>
          </div>
          <%= link_to '', voucher_booking_no_display_path(booking.voucher_id, booking.id), method: 'post', class: "fas fa-trash-alt", data: {confirm: "Remove from Dashboard?"} %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="listings-container", id="listings-list">
    <h2 class='text-center', class='tab-link-style'> Listings </h2>
    <% current_user.vouchers.each do |voucher| %>
      <% if voucher.display_flag %>
        <div class="message">
          <div class="message-name">
            <p> <%= voucher.created_at.to_date.strftime('%D') %> </p>
            <p class='message-voucher-name'><strong> <%= voucher.name %></strong></p>
            <p class="price"> £ <%= voucher.price %></p>
          </div>
          <div class="message-body">
            <p> <%=voucher.description%></p>
          </div>
          <div class="message-status">
            <% if voucher.quantity_left == 0 %>
              <p class="status sold"> Sold Out </p>
            <%= link_to '', voucher_no_display_path(voucher.id), method: 'post', class: "fas fa-trash-alt", data: {confirm: "Remove from Dashboard?"} %>
            <% else %>
              <p class="status pending"> Pending (x<%= voucher.quantity_left %> left)</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag "dashboard" %>

