

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">VouchCouch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body text-center">
        Thanks for listing your voucher!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">View</button>
      </div>
    </div>
  </div>
</div>  -->

<div class="dashboard-tabs">
  <a class="dashboardtab active" href="#listings-list">
    <h3><%= @number_vouchers %></h3>
    <p>Listings</p>
  </a>
  <a class="dashboardtab" href="#purchases-list">
    <h3><%= @purchases %></h3>
    <p>Purchased</p>
  </a>
  <a class="dashboardtab" href="#watching-list">
    <h3>19</h3>
    <p>Watching</p>
  </a>
   <a class="dashboardtab" href="#following-list">
    <h3>89</h3>
    <p>Following</p>
  </a>
</div>



<div class="main-container">
  <div class="bookings-container">
    <h2 class='text-center', id="purchases-list">Purchases</h2>
    <% current_user.bookings.each do |booking| %>
    <div class="message">
      <div class="message-name">
        <h3><p><strong> <%= booking.voucher.name %></strong></p></h3>
      </div>
      <div class="message-body">
        <p> <%= booking.voucher.description %></p>
      </div>
      <div class="message-status">
        <p class="status pending"> <%= booking.created_at.to_date %> </p>
        <p class="price"> <strong>£<%= booking.voucher.price %> </strong></p>
        <p class="price"> <strong>Quantity: <%= booking.quantity %> </strong></p>
      </div>
    </div>
    <% end %>
  </div>

  <div class="listing-container">
    <h2 class='text-center', id="listings-list"> Listings </h2>
    <% current_user.vouchers.each do |voucher| %>
    <div class="message">
      <div class="message-name">
        <h3><p><strong> <%= voucher.name %></strong></p></h3>
      </div>
      <div class="message-body">
        <p> <%=voucher.description%></p>
      </div>
      <div class="message-status">
        <% if voucher.quantity_left == 0 %>
        <p class="status sold"> Sold </p>
        <% else voucher.quantity_left > 0 %>
        <p class="status pending"> Pending </p>
        <% end %>
        <p class="price"> <strong>£</strong> <%= voucher.price %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>

