

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">VouchCouch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body text-center">
        Thanks for listing your voucher!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">View</button>
      </div>
    </div>
  </div>
</div>  -->

<div class="dashboard-tabs">
  <a class="dashboardtab active" href="#listings-list">
    <h3><%= @number_listings %></h3>
    <p>Listings</p>
  </a>
  <a class="dashboardtab" href="#purchases-list">
    <h3><%= @number_purchases %></h3>
    <p>Purchased</p>
  </a>
  <a class="dashboardtab" href="#watching-list">
    <h3>19</h3>
    <p>Watching</p>
  </a>
  <a class="dashboardtab" href="#following-list">
    <h3>89</h3>
    <p>Following</p>
  </a>
</div>



<div class="main-container", id="purchases-list">
  <div class="bookings-container">
    <h2 class='text-center', class='tab-link-style'>Purchases</h2>

    <% current_user.bookings.each do |booking| %>
      <div class="message">
        <div class="message-name">
          <p> <%= booking.created_at.to_date.strftime('%D') %> </p>
          <p class='message-voucher-name'><strong> <%= booking.voucher.name %></strong></p>
          <p class="price"> £<%= booking.voucher.price %> </p>
        </div>
        <div class="message-body">
          <p> <%= booking.voucher.description %></p>
        </div>
        <div class="message-status">
          <%= link_to voucher_file_path(photo: booking.voucher.photo )  do %>
            <p class="voucher-photo"> <i class="far fa-file"></i> </p>
          <% end %>
          <p class="price"> <strong> x <%= booking.quantity %> </strong></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="listings-container", id="listings-list">
    <h2 class='text-center', class='tab-link-style'> Listings </h2>
    <% current_user.vouchers.each do |voucher| %>
      <div class="message">
        <div class="message-name">
          <p class='message-voucher-name'><strong> <%= voucher.name %></strong></p>
          <p class="price"> £ <%= voucher.price %></p>
        </div>
        <div class="message-body">
          <p> <%=voucher.description%></p>
        </div>
        <div class="message-status">
          <% if voucher.quantity_left == 0 %>
            <p class="status sold"> Sold </p>
          <% else voucher.quantity_left > 0 %>
            <p class="status pending"> Pending </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

