
<div class="create-container">
  <div class="title-holder">
    <%= image_tag "list-voucher-img.png", class: 'list-voucher-img' %>
    <h3 class="list-voucher-title text-center">List a voucher</h3>
  </div>
  <%= simple_form_for @voucher do |f| %>

  <div class="content-holder">
    <div class="form-row">
      <div class="form-40">
        <%= f.label :name, "*Vendor name" %>
        <%= f.text_field :name, placeholder: "e.g. Amazon", class: 'form-control' %>
      </div>

      <div class="form-30">
        <div class="flex-row">
          <div class="category-arrow">
            <i class="fas fa-sort-down"></i>
          </div>
          <%= f.label :category %>
          <%= f.select :category, ["Marketplace", "Fashion", "Travel", "Food & Drink", "Electronics", "Hobbies", "Services"], id: 'category', prompt: 'Select...', class: 'form-control, drop-down' %>
        </div>
      </div>

      <div class="form-30">
        <%= f.input :price, placeholder: '£', class: 'form-control' %>
      </div>
    </div>

    <div class="form-row">
      <div class="flex-row">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', id: 'form-description'%>
      </div>
    </div>

    <div class="form-row">
      <div class="form-30" style="margin: 0 20px 0 0">
        <div class="flex-row">
          <%= f.input :quantity_left, label: 'Quantity', class: 'form-control', id: 'form-description'%>
        </div>
      </div>

      <div class="form-70">
        <div class="flex-row">

         <div class="date-style">
          <%= f.input :end_date, label: 'Valid until', class: 'form-control'%>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row margin-20">
    <div class="flex-row">
      <%= f.label :photo, "Upload voucher" %>
      <div class="photo-row">
        <%= f.input :photo, class: 'form-control, photo-btn'%>
        <div class="fake-btn">
          Browse
        </div>
      </div>
    </div>
  </div>

</div>

<div class="btns-holder">
  <div class="done-btn">
    <div type="button" data-toggle="modal" data-target="#exampleModal">

      <%= f.submit "Done", class: 'done-btn' %>
    </div>
  </div>
</div>

</div>

<% end %>

<!-- Button trigger modal -->

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">VouchCouch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body text-center">
        Thanks for listing your voucher!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">View</button>
      </div>
    </div>
  </div>
</div> -->






