
<div class="create-container">
  <div class="title-holder">
    List a voucher
  </div>
  <%= simple_form_for @voucher do |f| %>

  <div class="content-holder">
    <div class="form-row">
      <div class="half-form">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="quarter-form">
        <label>Category</label>
        <%= f.select :category, [["Books"], ["House"], ["Music"], ["Fashion"], ["Travel"], ["Restaurants"], ["Pubs & Bars"], ["Technology"], ["Games"], ["Movies"]], id: 'category', prompt: 'Select...', class: 'form-control, drop-down' %>
      </div>

      <div class="quarter-form">
        <%= f.label :price %>
        <%= f.text_field :price, class: 'form-control' %>
      </div>
    </div>

    <div class="form-row">
      <div class="flex-row">
        <%= f.label :description %>

        <%= f.text_field :description, class: 'form-control', id: 'form-description'%>
      </div>
    </div>

    <div class="form-row">
      <div class="flex-row">
        <%= f.label :end_date %>

        <%= f.text_field :end_date, class: 'form-control', id: 'form-description'%>
      </div>
    </div>

    <div class="form-row">
      <div class="flex-row">
        <%= f.label :photo %>
        <div class="photo-row">
          <%= f.input :photo, class: 'form-control, photo-btn'%>

      <div class="fake-btn">
        Browse
      </div>
        </div>
      </div>
    </div>


  </div>
  <div class="btns-holder">
    <div class="done-btn">
      <%= f.submit "Done", class: 'done-btn' %>
    </div>
  </div>
</div>









<div class="container voucher-form">
  <div class="row">


    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-sm-offset-4">
























<!--


      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control', id: 'form-description'%>
      </div>

      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>

    <% end %>

  </div>
</div>

<!-- Button trigger modal -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>






