<div class="index-header-content">
  <h1  style="text-align: center;">Vouchers</h1>

  <div class="filter-container">
    <%= form_tag vouchers_path, method: 'get', class: 'vouchers-filter' do %>
      <% if !@searched_category.nil? %>
        <%= select_tag :category,  options_for_select(@categories), :onchange => "this.form.submit();", :include_blank => @searched_category, class: "selected-filter" %>
      <% else %>
        <%= select_tag :category,  options_for_select(@categories), :onchange => "this.form.submit();", :include_blank => "Filter by Category" %>
      <% end %>
    <% end %>

    <%= form_tag vouchers_path, method: 'get', class: 'vouchers-filter' do %>
      <% if !@searched_name.nil? %>
        <%= select_tag :category,  options_for_select(@names), :onchange => "this.form.submit();", :include_blank => @searched_name, class: "selected-filter" %>
      <% else %>
        <%= select_tag :name,  options_for_select(@names), :onchange => "this.form.submit();", :include_blank => "Filter by Store" %>
      <% end %>
    <% end %>

    <%= form_tag vouchers_path, method: :get, class: 'form-inline voucher-searchbar' do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Try \"Hobbies\""
        %>
      <%= submit_tag("Search", class: 'btn btn-fix-width btn-primary', id: 'search-button') %>
    <% end %>
  </div>
</div>

<div class="cards-container">
  <div class="row">

    <% @groups.each do |key, value| %>
      <% unless value.all? {|v| v.quantity_left == 0} %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
            <%= link_to vouchers_group_path(key) do %>
              <div class="card-image">
              <% case value[0].category %>
                <% when "Food & Drink" %>
                  <% file = 'food_and_drink' %>
                  <%= cl_image_tag(file, crop: :fill) %>
                <% when "Marketplace"  %>
                  <% file = 'marketplace' %>
                  <%= cl_image_tag(file, crop: :fill) %>
                <% when "Fashion" %>
                  <% file = 'fashion' %>
                  <%= cl_image_tag(file, crop: :fill) %>
                <% when "Travel" %>
                  <% file = 'travel' %>
                  <%= cl_image_tag(file, crop: :fill) %>
                <% when "Hobbies" %>
                  <% file = 'hobbies' %>
                  <%= cl_image_tag(file, crop: :fill) %>
                <% when "Electronics" %>
                  <% file = 'electronics' %>
                  <%= cl_image_tag(file, crop: :fill) %>
                <% else %>
                  <% file = 'service' %>
                  <%= cl_image_tag(file, crop: :fill) %>
              <% end %>
              </div>


              <div class="card-content">
                <% quantity = 0 %>
                <% value.each do |voucher| %>
                  <% quantity += voucher.quantity_left %>
                <% end %>

                <% if quantity > 5 %>
                  <p class="underline-green"><strong><%= quantity %> Left</strong></p>
                <% else %>
                  <p class="underline-green red-text"><strong><%= quantity %> Left</strong></p>
                <% end %>
                <p class="green-text"><strong><%= key %></strong></p>
                <p class="btn-show-all">Show all</p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

