<div class="back-link">
  <%= link_to "", vouchers_group_path(@voucher.name), class:"far fa-arrow-alt-circle-left fa-3x" %>
</div>

<div class="summary-container">
  <div class="summary-title-holder">
    <h3 class="list-summary-voucher-title text-center">Voucher Summary</h3>
  </div>

  <div class="summary-content-holder">
    <div class="main-summary-container">
      <div class="summary-row">
        <div class="summary-50", class="margin-right-summary">
          <p>Vendor</p>
        </div>
        <div class="summary-50", class="margin-right-summary">
          <p><strong><%= @voucher.name.upcase %></strong></p>
        </div>
      </div>

      <div class="summary-row">
        <div class="summary-50", class="margin-right-summary">
          <p>Category</p>
        </div>
        <div class="summary-50", class="margin-right-summary">
          <p><strong><%= @voucher.category.upcase %></strong></p>
        </div>
      </div>

      <div class="summary-row">
        <div class="summary-50", class="margin-right-summary">
          <p>Valid until</p>
        </div>
        <div class="summary-50", class="margin-right-summary">
          <p id='valid-date-summary'><strong><%= @voucher.end_date %></strong></p>
        </div>
      </div>
    </div>

    <div class="summary-row">
      <div class="summary-100">
        <div class="summary-flex-row">
          <p>Description</p>
          <p class="voucher-summary-description"> <%= @voucher.description %></p>
        </div>
      </div>
    </div>

    <div class="secondary-summary-container">
      <div class="summary-100", class="margin-right-summary">

        <div class="summary-row">
          <div class="summary-50", class="margin-right-summary">
            <p>Price</p>
          </div>
          <div class="summary-50", class="margin-right-summary">
            <p id='summary-price'>£<%= @voucher.price %></p>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="summary-btns-holder">


      <div class="summary-100", class="margin-right-summary">
        <p><% if @booking.errors.any? %>
          <ul>
            <% @booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
          <% end %>
          <%= render '/vouchers/booking_form', booking: @booking, voucher: @voucher %></p>
        </div>




    </div>

  </div>

