
<div class="page-content">
  <div class="cards-container">
    <div class="row">
      <% @group.each do |voucher| %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to voucher_path(voucher.id) do %>
        <div class="card-show" style="background-image: url(<%= cl_image_path voucher.photo_file %>)">
         <h3 class="show-card-name"><%= @name %></h3>
         <p class="card-price">£<%= voucher.price %></p>
         <p>Quantity: <%= voucher.quantity_left %></p>
         <p class="voucher-details">Valid until <%= voucher.end_date %></p>

         <p class="buy-now-btn">Buy</p>
       </div>
       <% end %>
     </div>
     <% end %>
   </div>
 </div>

 <div id="map">
 </div>

</div>



</div>
<p class="show-back-link"><%= link_to "Take me back", vouchers_path, class:"fas fa-chevron-left fa-2x" %></p>
</div>


<script>
  function initMap() {
    var uluru = {lat: 51.5074, lng: 0.1278};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2NIYVl6gpisqqe-eIXU1sTeQZj9b75vs&callback=initMap">
</script>


<p class="white-link">
  <%= link_to " Back to List", vouchers_path, class:"fas fa-chevron-left fa-2x" %>
</p>
</div>



