<div class="booking-container">
  <h2><%= @voucher.name %></h2>

  <div class="booking-content">
    <p><strong>Description:</strong></p>
    <p><%=  @voucher.description %></p>
    <p><strong>Price:</strong>  £<%= @voucher.price %></p>
    <p><strong>Valid until: </strong><%= @voucher.end_date %></p>

    <div>
      <% if @booking.errors.any? %>
        <ul>
          <% @booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
         <% end %>
        </ul>
      <% end %>
      <%= render '/vouchers/booking_form', booking: @booking, voucher: @voucher %>
    </div>
  </div>

  <p class="white-link"><%= link_to " Back to #{@voucher.name} List", vouchers_group_path(@voucher.name), class:"fas fa-chevron-left" %></p>
</div>
