
<div class="show-group-content">
  <div class="cards-and-header">
    <div class="page-header-content">
      <%= link_to "", vouchers_path, class:"far fa-arrow-alt-circle-left fa-3x back-link" %>
      <h2 class='text-center', id = 'h2-header-style'><%= @name.upcase %></h2>
    </div>

    <div class="cards-container">
      <div class="row">
        <% @group.each do |voucher| %>
          <% unless voucher.quantity_left == 0 %>
            <div class="col-xs-12 col-sm-6">
              <div class="show-group-card">

                <%= link_to voucher_path(voucher.id) do %>
                  <div class="card-header">
                    <h5><%= voucher.category %></h5>
                    <div class="card-price">£<%= voucher.price %></div>
                  </div>

                  <div class="card-image">
                    <%= cl_image_tag(voucher.photo_file, crop: :fill) %>
                  </div>

                  <div class="card-content">
                      <div class="voucher-details">
                        Valid until <p><%= voucher.end_date %></p>
                      </div>
                      <div class="quantity-and-button">
                      <% if voucher.quantity_left > 5 %>
                        <p class="card-quantity"><%= voucher.quantity_left %> left</p>
                      <% else %>
                        <p class="card-quantity highlight-red"><strong><%= voucher.quantity_left %> left</strong></p>
                      <% end %>
                      <p class="btn btn-danger">Buy</p>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>


<script>
  function initMap() {
    var uluru = {lat: 51.5074, lng: 0.1278};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2NIYVl6gpisqqe-eIXU1sTeQZj9b75vs&callback=initMap">
</script>
</div>

