
<div class="summary-container">
  <div class="summary-title-holder">
    <h3 class="list-summary-voucher-title text-center">Voucher Summary</h3>
  </div>

  <div class="summary-content-holder">
    <div class="summary-row">
      <div class="summary-30", class="vendor-name-summary">
        <p>Vendor: <%= @voucher.name.upcase %></p>
      </div>

      <div class="summary-50">
        <div class="flex-row">
          <p>Category: <%= @voucher.category.upcase %></p>
        </div>
      </div>

      <div class="summary-20">
        <p>Price: £<%= @voucher.price %></p>
      </div>
    </div>

    <div class="summary-row">
      <div class="flex-row">
        <p>Description: <br> <%= @voucher.description %></p>
      </div>
    </div>

    <div class="summary-row">
      <div class="flex-row">
        <p><strong>Valid until: </strong><%= @voucher.end_date %></p>
      </div>
    </div>

    <div class="summary-row">
      <div class="summary-20">
        <% if @booking.errors.any? %>
        <ul>
          <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
        <%= render '/vouchers/booking_form', booking: @booking, voucher: @voucher %>
      </div>
      <div class="summary-20">

        <p>TOTAL:</p><% unless @booking.quantity.nil? %>
        <p><%= @voucher.price*@booking.quantity %></p>
        <% end %>


      </div>
    </div>




  </div>

</div>
</div>


<p class="white-link"><%= link_to " Back to #{@voucher.name.upcase} list", vouchers_group_path(@voucher.name), class:"fas fa-chevron-left" %></p>
